[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
skyward-api = "==1.5.3"
eventlet = "*"
pymongo = "*"
bcrypt = "*"
Flask = "*"
Flask-SocketIO = "*"
validate_email = "*"

[dev-packages]

[requires]
python_version = "3.6"
