[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
skyward-api = "*"
eventlet = "*"
pymongo = "*"
bcrypt = "*"
celery = {version = "*", extras = ["redis"]}
psutil = "*"
kombu-fernet-serializers = {ref = "v0.1.0", git = "git://github.com/heroku/kombu-fernet-serializers.git"}
Flask = "*"
Flask-SocketIO = "*"
validate_email = "*"
Flask-Login = "*"
Flask-SSLify = "*"

[dev-packages]

[requires]
python_version = "3.6"
