[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
skyward-api = "*"
eventlet = "*"
pymongo = "*"
flask = "*"
flask_socketio = "*"
bcrypt = "*"
validate_email = "*"

[dev-packages]

[requires]
python_version = "3.6"
