flask
mypy
skyward_api
eventlet
flask_socketio
pymongo
validate_email
bcrypt
flask-login
celery[redis]
psutil
Flask-SSLify
git+git://github.com/heroku/kombu-fernet-serializers.git@v0.1.0#egg=kombu_fernet_serializers
