<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ css_link }}"/>
        <link rel="stylesheet" type="text/css" href="{{ default_css_link }}" />
        <script src="{{ js_link }}"></script>
        <script>
          var u_id = "{{ u_id }}";
        </script>
        <title>{{ name|title }}</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% include "sidebar.html.j2" %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
