{% extends "default.html.j2" %}
{% block head %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {{ super() }}

  {% if hsd %}
    <script>
      get_grades()
    </script>
  {% endif %}
{% endblock %}
{% block content %}
  <h2>
    These are grades that are stored on the server, press the button below to
    force update the grades and retrieve the most recent grade updates. Automatic
    updates happen every 10 minutes, which is also when you would get emailed
    about grade changes.
  </h2>
  <button id="force">Force Skyward Update.</button>
  <h2 id="notify">Getting grades.</h2>
  <div id="grades">

  </div>
{% endblock %}
