{% extends "default.html.j2" %}
{% block head %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {{ super() }}
{% endblock %}

{% block content %}
  {% if not hsd %}
    <div id="sky_login">
      {% if error == "destroyed" %}
        <h1>Your session has been destroyed by skyward, please log in again.</h1>
      {% endif %}
      <h2>Log into Skyward:</h2>
      <input type="text" id="sky_name" placeholder="Skyward Username:" />
      <input type="password" id="sky_pass" placeholder="Skyward Password:" />
      <input type="text" id="service" placeholder="Skyward Service:" value="{{ service }}"/>
      <button id="submit">Log In!</button>
      <h3>
        Your Skyward password is not stored on the server, only a session
        token that you can revoke by logging into Skyward again. In other words,
        Skyward Updater does not have direct access to your account, it only
        has access by a sort of ID badge that you can destroy at any time
        by logging into your Skyward account manually. <i>If you want to
        remain logged in, do not log into your Skyward account manually.</i>
      </h3>
      <h3>
        To find your Skyward Service, go to the Skyward link for your school and
        copy/paste the portion <i>after</i> "WService=" but before the "/".
      </h3>
      <h2>
        As an example, here's the Skyward link for OPRFHS.
        <span>https://skyward.iscorp.com/scripts/wsisa.dll/WService=wseduoakparkrfil/fwemnu01.w</span>
        the part after "WService=" is "wseduoakparkrfil/fwemnu01.w" and the part
        before the "/" is "wseduoakparkrfil" so that would be the service.
      </h2>
    </div>
    <h2 id="notify">Logging In...</h2>
  {% endif %}
{% endblock %}
