<div id="sidebar">
  <a href="/">Home</a>
  {% if logged_in %}
  <div id="logged_in">
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <div id="hsd">
    {% if hsd %}
      <a href="/grades" id="grades_link">Grades</a>
    {% else %}
      <a href="/grades" id="grades_link" style="display: none">Grades</a>
    {% endif %}
    </div>
  </div>
  {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  {% endif %}
</div>
