<div id="sidebar">
  <a href="/">Home</a>
  {% if logged_in %}
  <div id="logged_in">
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <div id="hsd">
    {% for name in ["grades", "skyward"] %}
      {% if hsd %}
        <a href="/{{ name }}" class="hsd" id="{{ name }}_link">{{ name|title }}</a>
      {% else %}
        <a href="/{{ name }}" class="hsd" id="{{ name }}_link" style="display: none;">{{ name|title }}</a>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  {% endif %}
</div>
